*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    background: #FFFFFF;
    min-width: 1440;
    margin: 0;
    padding: 0;
}

/* Шапка */
.header__menu{
    margin-top: 50px;
    min-height: 46px;
    min-width: 1200px;
    z-index: 100;
}
.container{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.section__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
logo{
    display: flex;
    align-items: center;
}
.point{
    color: black;
}
.header__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #18BD4F
}
/* Ссылки */
.mainmenu__list{
    margin: 0;
    padding: 0;
}
.mainmenu__item > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 56px;
}
.mainmenu__item a:hover{
    color: #18BD4F;
}
/* Основной блок */
.catalog__title{
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}
.catalog__menu{
    color: #18BD4F
}
.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter__list{
    display: flex;
    align-items: center;
}
.filter__item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    border: none;
    background-color: #FFFFFF;
    margin-left: 27px;
}
.filter__item:hover{
    color: #18BD4F;
    cursor: pointer;
}
.sort{
    margin-left: 10px;
}
/* Карточки */
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 30px;
    padding: 60px;
}
.card{
    margin: 63px 0 0 0;
    background: #F4F5FA;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.icons{
    display: flex;
    float: right;
    margin: 17px 10px 0 0;
    cursor: pointer;
}
.image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.title_and_price{
    display: flex;
    justify-content: space-around;
}
.title__items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.price__items{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-right: 21px;
}
.text{
    display: flex;
    margin: 15px 0 0 21px;
    width: 180px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #555555;
}
.button__items{
    
    display: flex;
    justify-content: center;
    padding-top: 6.5px;
    margin: 15px 0 0 21px;
    background: #18BD4F;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    width: 126px;
    height: 30px;
    cursor: pointer;
}
/* Подвал */
.subscribe{
    display: flex;
    justify-content: center;
    margin: 102px 0 83px 0;
}
.footer__subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/pratiksha-mohanty-BwpKvFuPm_U-unsplash\ 1.png');
    border-radius: 35px;
    width: 100%;
    height: 120%;
}
.subscribe__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    width: 560px;
    height: 70px;
}
.discount{
    color: #18BD4F;
}
.subscribe__text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.email{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 59px 0 0 0;
}
.input{
    width: 500px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 31px;
    border: none;
    padding: 15px;
    outline: none;
}
.submit{
    position: absolute;
    margin: 5px;
    width: 100px;
    height: 40px;
    border: none;
    background: #18BD4F;
    border-radius: 26px;
    color: white;
    cursor: pointer;
}

/* Медиа запросы */
.navbar-toggler{
    width: 30px;
    height: 30px;
    border-radius: 4ch;
    border: none;
    background-color: rgba(255, 255, 255, 0%);
}
.navbar-toggler img{
    width: 50px;
    height: 50px;
}
.navbar-toggler:active{
    background-color: rgb(245, 250, 215);
}
@media(max-width:992px){
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width:768px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:1280px){
    .title{
        text-align: center;
    }
}
@media(max-width:360px){
    .cards{
        grid-template-columns: 1fr;
    }
}
@media (max-width:768px){
    .profile,
    .menu{
        display: none;
        width: 100%;
    }
    .navbar-toggler{
        display: block;
    }
    .section__wrapper{
        align-items: center;
        flex-direction: column;
    }
    .mainmenu__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.show{
    display: block;
}
@media(min-width:765px){
    .navbar-toggler{
        display: none;
    }
}
@media (max-width:1110px) {
    .container {
        width: auto;
        position: relative;
        padding: 0 30px;
    
    }
}
@media(max-width:1200px){
    .subscribe{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
    }
}




